* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.form {
 margin-bottom: 10px;
}


.timer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field:last-child {
  margin-left: 11px;
}

.value {
  font-size: 34px;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}